@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --translusent_green: #00360044;
  --translusent_black: #00000057;
  --translusent_lightblack: #00000021;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --lightgreen: #015c01;
  }
}

html, body {
  /* color: var(--foreground); */
  /* background: var(--background); */
  font-family: 'Inter', sans-serif;
  overscroll-behavior: contain;
  /* scroll-behavior: smooth; */
  /* font-family: Arial, Helvetica, sans-serif; */
}

/* custom scrollbar */
::-webkit-scrollbar{
  width: 10px;
}
::-webkit-scrollbar-track{
  border-radius: 6px;
  /* background-color: var(--background); */
}
::-webkit-scrollbar-thumb{
  border-radius: 6px;
  background-color: var(--translusent_green);
}

/* animations */
.scaleUp{
  animation: scale-up linear;
    animation-timeline: view();
    animation-range: cover 400px;
}

@keyframes scale-up{
  from{
    transform: scale(1);
  }
  to{
    transform: scale(1.2);
    bottom: -90px;
  }
}
